:root {
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --light: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--black);
  background-color: var(--light);
}

button {
  cursor: pointer;
  box-shadow: none;
  border: none;
  padding: 0;
  font-family: inherit;
}

input {
  font-family: inherit;
}

a {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* COMMON STYLES */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.section-title {
  color: var(--black);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.accent-text {
  color: var(--orange);
}

.btn {
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  background-color: transparent;
}

.btn-accent {
  background-color: var(--orange);
}

.btn-light {
}

.btn-dark {
  font-size: 18px;
  color: var(--black);
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

/* MENU */

.menu {
}

.menu-item {
}

.menu-link {
  font-weight: 500;
  line-height: 1.14;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--orange);
}

/* SOCIALS */

.socials {
}

.socials-item {
}

.socials-link {
}

.socials-icon {
}

/* HEADER */

.header {
}

/* HERO SECTION */

.hero {
  background: rgba(17, 17, 17, 0.4);
}

.hero-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--white);
}

/* BENEFITS SECTION */

.benefits {
  background: var(--violet);
}

.benefits-list {
}

.benefits-item {
}

.benefits-caption {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
}

.benefits-desc {
  color: rgba(255, 255, 255, 0.7);
}

/* INGREDIENTS SECTION */

.ingredients {
}

.ingredients-list {
}

.ingredients-item {
}

.ingredients-ill {
}

.ingredients-subtitle {
  font-weight: 600;
}

/* MADE SECTION */

.made {
}

.made-ill {
}

.made-caption {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.made-list {
}

.made-item {
}

/* RRODUCTS SECTION */

.products {
}

.products-list {
}

.products-item {
}

.products-pic {
}

.products-caption {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33333;
  text-transform: uppercase;
}

.products-type {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(17, 17, 17, 0.7);
}

.products-label {
  font-weight: 600;
}

/* BESTSELLERS SECTION */

.bestsellers {
}

.bestsellers-list {
}

.bestsellers-item {
}

.bestsellers-caption {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
}

/* REVIEWS SECTION */

.reviews {
}

.reviews-list {
}

.reviews-item {
}

.reviews-author {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
}

.reviews-text {
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

/* FOOTER */

.footer {
  background: var(--violet);
}

.footer-slogan {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  color: var(--white);
}

.footer-caption {
  font-weight: 500;
  color: var(--white);
}

.contacts {
}

.contacts-list {
}

.contacts-item {
}

.contacts-link {
  color: var(--white);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--orange);
}

.footer-menu {
  color: var(--white);
}
